<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ink.fujisann.learning.dao.RegionLv1Mapper">
  <resultMap id="BaseResultMap" type="ink.fujisann.learning.vo.mybatis.RegionLv1">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="code" property="code" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="remark" property="remark" jdbcType="VARCHAR"/>
    <result column="updator" property="updator" jdbcType="VARCHAR"/>
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    <result column="relation_id" property="relationId" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, remark, updator, update_time, relation_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List"/>
    from region_lv1_t
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByRegion" resultMap="BaseResultMap" parameterType="ink.fujisann.learning.vo.mybatis.RegionLv1">
    select
    <include refid="Base_Column_List"/>
    from region_lv1_t
    where 1=1
    <if test="region.code != null and region.code != ''">
      and code = #{region.code,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from region_lv1_t
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ink.fujisann.learning.vo.mybatis.RegionLv1">
    insert into region_lv1_t (id, code, name,
                              remark, updator, update_time,
                              relation_id)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
            #{remark,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
            #{relationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="ink.fujisann.learning.vo.mybatis.RegionLv1">
    insert into region_lv1_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="updator != null">
        updator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="relationId != null">
        relation_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relationId != null">
        #{relationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ink.fujisann.learning.vo.mybatis.RegionLv1">
    update region_lv1_t
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relationId != null">
        relation_id = #{relationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ink.fujisann.learning.vo.mybatis.RegionLv1">
    update region_lv1_t
    set code        = #{code,jdbcType=VARCHAR},
        name        = #{name,jdbcType=VARCHAR},
        remark      = #{remark,jdbcType=VARCHAR},
        updator     = #{updator,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP},
        relation_id = #{relationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--共享读锁-只能读，排他写锁-只能事务中写-->
  <select id="lockTable">
    lock tables region_lv1_t write
  </select>
  <select id="unLockTable">
    unlock tables
  </select>
</mapper>